@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl lg:text-5xl font-bold py-5;
  }
  h2 {
    @apply text-2xl lg:text-4xl font-bold py-2;
  }
  h3 {
    @apply pb-2 text-xl lg:text-2xl font-bold;
  }
  p {
    @apply text-lg leading-7;
  }
}

/* Bobbing Animation */
@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bobbing-animation {
  animation: bobbing 3s infinite;
}